/* Ajustement global */
body {
  font-family: "Arial", sans-serif;
  background-color: #f7f7f7;
  line-height: 1.6;
}
main {
  height: 102.5vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
  background-image: url("images/code.jpg"); /* Remplace par l'URL ou le chemin de ton image */
  background-size: cover; /* L'image couvre toute la section */
  background-position: center; /* L'image est centrée */
  background-repeat: no-repeat; /* Pas de répétition de l'image */
  left: 0;
}

/* Sidebar - Bootstrap */
#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 17%; /* Ajustez la largeur de la barre latérale ici */
  background-color: #1a1a1a;
  z-index: 1000;
  transform: translateX(0); /* Par défaut, la sidebar est cachée */
  transition: transform 0.3s ease; /* Animation de transition */
}

#sidebar.active {
  transform: translateX(0); /* Affiche la sidebar lorsqu'elle est active */
}
/*Petit bouton pour les petits écran*/
#sidebarToggle {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 9999;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  padding: 0;
}

#sidebar .nav-link {
  font-size: 18px;
  padding: 15px 20px; /* Plus d'espace pour rendre les liens cliquables */
  display: block;
  color: white;
  text-decoration: none;
}

.profile h4 {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 20px;
}

/* Style pour les icônes sociales */
.icon-circle {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%; /* Pour entourer l'icône dans un cercle */
  background-color: #fff; /* Fond blanc */
  color: #333; /* Couleur de l'icône */
  text-decoration: none; /* Supprime le soulignement des liens */
  transition: background-color 0.3s, color 0.3s; /* Animation pour le survol */
  border: 2px solid transparent; /* Bordure invisible au départ */
}

.icon-circle i {
  font-size: 24px; /* Taille des icônes */
}

.icon-circle:hover {
  background-color: #b0e0e6; /* Bleu clair au survol */
  color: #fff; /* Couleur des icônes au survol */
  border-color: #b0e0e6; /* Affiche la bordure bleu clair au survol */
}

.nav-link {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  color: #ddd;
  text-decoration: none;
}

.nav-link i {
  font-size: 1.5rem;
  margin-right: 10px;
  transition: color 0.3s ease;
}
/* Couleur des icônes actives (bleu clair) */
.nav-link.active i {
  color: #d31c1c; /* Bleu clair pour l'icône active */
}

.nav-link:hover {
  background-color: #333;
  color: #fff;
  border-radius: 5px;
}

.nav {
  flex-grow: 1; /* Prend l'espace disponible au centre */
}
footer {
  font-size: 12px;
  text-align: center;
  margin-top: auto; /* Assure que le footer reste en bas */
  padding-top: 45%;
}

/* Contenu principal */
main {
  margin-left: 18%; /* Ajuste en fonction de la largeur de la sidebar */
  padding: 20px;
}

/* Sections */
.section {
  padding: 80px 20px;
  text-align: center;
}

.section h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

/* Section d'accueil */
#home {
  left: 0;
  top: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}
/* Style pour le curseur clignotant */
.cursor {
  display: inline-block;
  background-color: white; /* Couleur du curseur */
  width: 2px; /* Largeur du curseur */
  height: 30px; /* La hauteur doit correspondre à la taille de la police du texte */
  animation: blink 0.7s steps(1) infinite; /* Animation de clignotement */
}

/* Animation de clignotement du curseur */
@keyframes blink {
  50% {
    opacity: 0;
  }
}

.hero-content h1 {
  font-size: 48px;
  margin-bottom: 20px;
  color: white;
}

.hero-content p {
  font-size: 24px;
  margin-bottom: 30px;
  color: white;
}

.cta-btn {
  padding: 10px 20px;
  background-color: #00aaff;
  border: none;
  color: white;
  border-radius: 5px;
  text-decoration: none;
}

.cta-btn:hover {
  background-color: #007bff;
}

/* Formulaire de contact */
form input,
form textarea {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

form button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
/* Section container */
#about {
  background-color: #f7f7f7;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left; /* Aligner tout le contenu à gauche */
}

/* Titre principal */
#about h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #003b79;
  margin-bottom: 20px;
  text-align: left; /* Aligner le titre principal à gauche */
}

#about .icon {
  font-size: 1.5rem;
}

/* Sous-titres */
#about h3 {
  font-size: 1.6rem;
  color: #003b79;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: left; /* Aligner les sous-titres à gauche */
}

#about p.lead {
  font-size: 1.1rem;
  line-height: 1.7;
  text-align: left; /* Aligner le paragraphe principal à gauche */
}

/* Liste des informations */
#about ul {
  margin-top: 15px;
  text-align: left; /* Aligner les listes à gauche */
}

#about ul li {
  font-size: 1.1rem;
  margin-bottom: 10px;
}

/* Boutons CV */
#about .btn {
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
}

#about .btn-dark {
  background-color: #333;
  color: white;
  border: none;
}

#about .btn-dark:hover {
  background-color: #555;
  color: white;
}

#about .btn-dark:focus {
  outline: none;
  box-shadow: none;
}

/* Container for section */
#parcours {
  background-color: #f7f7f7;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#parcours h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #003b79;
  margin-bottom: 20px;
}

#parcours h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #003b79;
  margin-bottom: 20px;
}

.timeline {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

.timeline-item {
  position: relative;
  margin-bottom: 30px;
  padding-left: 40px;
  border-left: 2px solid #b22a2a;
}

.timeline-item:before {
  content: "";
  position: absolute;
  left: -10px;
  top: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #b22a2a;
}

.timeline-date {
  font-weight: bold;
  color: #b22a2a;
}

.timeline-item h4 {
  margin-top: 0;
  font-size: 1.2rem;
}

.timeline-item p {
  margin-bottom: 0;
}

/* Section contact container */
#contact {
  background-color: #f7f7f7;
  border-radius: 10px;
  padding: 40px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#contact h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #003b79;
  margin-bottom: 20px;
}

#contact p {
  font-size: 1.1rem;
  margin-bottom: 40px;
}

/* Colonne gauche - Informations de contact */
.contact-info {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-info h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #003b79;
}

.contact-info p {
  margin-bottom: 20px;
  font-size: 1.1rem;
}

/* Formulaire de contact */
.contact-form .form-label {
  font-weight: bold;
}

.contact-form .form-control {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 1rem;
}

.contact-form button {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
}

.contact-form button:hover {
  background-color: #555;
}

/* Ajustement pour la carte Google Maps */
iframe {
  margin-top: 20px;
  border: 0;
  border-radius: 10px;
}
/* Container pour les cartes */
.equal-image {
  width: 100%;
  height: 300px;
  object-fit: cover; /* S'assure que l'image garde ses proportions tout en remplissant l'espace */
}

.flip-card {
  background-color: transparent;
  width: 100%;
  perspective: 1000px; /* Perspective pour l'effet 3D */
}

.flip-card-inner {
  position: relative;
  width: 100%;
  min-height: 350px; /* Hauteur minimale plus grande */
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d; /* Permet la rotation 3D */
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg); /* Rotation de la carte sur l'axe Y */
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  min-height: 350px; /* Hauteur minimale plus grande */
  backface-visibility: hidden; /* Cache l'arrière quand la face avant est visible */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flip-card-front {
  background: linear-gradient(
    to bottom right,
    #95bfe2,
    #497294
  ); /* Dégradé de vert (#2ecc71) à blanc */
  color: black;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.flip-card-back {
  background-color: #696fc9; /* Une couleur différente pour le verso */

  transform: rotateY(180deg); /* Le dos est déjà retourné */
}
/* Style pour les icônes à côté des options */
h4 i {
  font-size: 24px; /* Taille de l'icône */
  margin-right: 10px; /* Espace entre l'icône et le texte */
}
h4 i:hover {
  transform: scale(1.2); /* Agrandit l'icône au survol */
  transition: transform 0.3s ease; /* Animation douce */
}

#competences-developpement {
  background-color: #f7f7f7;
  padding: 60px 0;
  border-radius: 10px;
}

#competences-developpement h2 {
  font-weight: bold;
  color: #f15b2a;
  margin-bottom: 20px;
}

#competences-developpement p {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 40px;
}

.competence-card {
  border: none;
  border-radius: 10px;
  transition: transform 0.3s ease, background-color 0.3s ease;
  background-color: #ffffff;
  width: 150px; /* Largeur fixe pour toutes les cartes */
  height: 120px; /* Hauteur fixe pour toutes les cartes */
  margin: 0 auto; /* Centre la carte */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centrer verticalement */
  align-items: center; /* Centrer horizontalement */
  text-align: center; /* Centrer le texte */
}

.competence-card:hover {
  transform: translateY(-10px); /* Soulève légèrement la carte */
  background-color: #f15b2a; /* Change la couleur de fond */
}

.competence-card:hover .card-title,
.competence-card:hover img {
  color: white; /* Change la couleur du texte et des icônes au survol */
}

.competence-card .card-title {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.competence-card img {
  max-width: 50px;
  height: auto;
  transition: transform 0.3s ease;
  margin-bottom: 10px; /* Espace entre l'image et le titre */
  padding-top: 20px;
}

.competence-card:hover img {
  transform: scale(1.1); /* Agrandit légèrement l'icône au survol */
}
#diplomes-certifications {
  background-color: #f7f7f7;
  padding: 60px 0;
  border-radius: 10px;
}

#diplomes-certifications h2 {
  font-weight: bold;
  color: #003b79;
  margin-bottom: 20px;
}

#diplomes-certifications p {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 40px;
}

#diplomes-certifications .btn {
  font-size: 14px;
  padding: 10px 20px;
}

#diplomes-certifications .card {
  border: none;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#diplomes-certifications .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

#diplomes-certifications .card-img-top {
  border-radius: 10px;
  height: 250px;
  object-fit: cover; /* Assure que l'image couvre toute la carte */
}
.filter-btn {
  transition: background-color 0.3s ease;
}

.filter-btn.btn-dark {
  background-color: #007bff;
  color: white;
}
/* Timeline Section */
#stages {
  background-color: #f7f7f7;
  padding: 60px 0;
  border-radius: 10px;
}

#stages h2 {
  font-weight: bold;
  color: #003b79;
  margin-bottom: 20px;
}

#stages p.lead {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 40px;
}

/* Timeline */
.timeline {
  position: relative;
  padding-left: 40px;
  margin-top: 20px;
}

.timeline-item {
  position: relative;
  margin-bottom: 30px;
  padding-left: 40px;
  border-left: 2px solid #b22a2a;
}

.timeline-item:before {
  content: "";
  position: absolute;
  left: -10px;
  top: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #b22a2a;
}

/* Box for each timeline item */
.timeline-box {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.timeline-box:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

/* Timeline Dates */
.timeline-date {
  font-weight: bold;
  color: #b22a2a;
}

/* Links and Hover Effects */
.timeline-item ul {
  list-style-type: none;
  padding-left: 0;
}

.timeline-item ul li a {
  text-decoration: none;
  color: #007bff;
}

.timeline-item ul li a:hover {
  text-decoration: underline;
}

/* Button Styles */
.btn-outline-primary {
  border: 1px solid #007bff;
  color: #007bff;
}

.btn-outline-primary:hover {
  background-color: #007bff;
  color: white;
}
.bx--bxl-github {
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.026 2c-5.509 0-9.974 4.465-9.974 9.974c0 4.406 2.857 8.145 6.821 9.465c.499.09.679-.217.679-.481c0-.237-.008-.865-.011-1.696c-2.775.602-3.361-1.338-3.361-1.338c-.452-1.152-1.107-1.459-1.107-1.459c-.905-.619.069-.605.069-.605c1.002.07 1.527 1.028 1.527 1.028c.89 1.524 2.336 1.084 2.902.829c.091-.645.351-1.085.635-1.334c-2.214-.251-4.542-1.107-4.542-4.93c0-1.087.389-1.979 1.024-2.675c-.101-.253-.446-1.268.099-2.64c0 0 .837-.269 2.742 1.021a9.582 9.582 0 0 1 2.496-.336a9.554 9.554 0 0 1 2.496.336c1.906-1.291 2.742-1.021 2.742-1.021c.545 1.372.203 2.387.099 2.64c.64.696 1.024 1.587 1.024 2.675c0 3.833-2.33 4.675-4.552 4.922c.355.308.675.916.675 1.846c0 1.334-.012 2.41-.012 2.737c0 .267.178.577.687.479C19.146 20.115 22 16.379 22 11.974C22 6.465 17.535 2 12.026 2z' fill='%23000'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.bx--bxl-linkedin {
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Ccircle cx='4.983' cy='5.009' r='2.188' fill='%23000'/%3E%3Cpath d='M9.237 8.855v12.139h3.769v-6.003c0-1.584.298-3.118 2.262-3.118c1.937 0 1.961 1.811 1.961 3.218v5.904H21v-6.657c0-3.27-.704-5.783-4.526-5.783c-1.835 0-3.065 1.007-3.568 1.96h-.051v-1.66H9.237zm-6.142 0H6.87v12.139H3.095z' fill='%23000'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.bx--bxl-gmail {
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M18.73 5.41l-1.28 1L12 10.46L6.55 6.37l-1.28-1A2 2 0 0 0 2 7.05v11.59A1.36 1.36 0 0 0 3.36 20h3.19v-7.72L12 16.37l5.45-4.09V20h3.19A1.36 1.36 0 0 0 22 18.64V7.05a2 2 0 0 0-3.27-1.64z' fill='%23000'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

#projets {
  background-color: #f7f7f7;
  padding: 60px 0;
  border-radius: 10px;
}

#projets h2 {
  font-weight: bold;
  color: #f15b2a;
  margin-bottom: 20px;
}

#projets p {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 40px;
}

.project-card {
  border: none;
  border-radius: 10px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.project-card img {
  border-radius: 10px 10px 0 0;
}

.project-card:hover {
  transform: translateY(-10px); /* L'effet de survol qui soulève la carte */
  background-color: #f15b2a; /* Change la couleur de fond */
}

.project-card:hover .card-title,
.project-card:hover .card-text {
  color: white; /* Change la couleur du texte au survol */
}

.project-card .card-title {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.project-card .card-text {
  font-size: 16px;
  color: #555;
}

.project-card .btn {
  background-color: #007bff;
  border: none;
  color: white;
}

.project-card .btn:hover {
  background-color: #0056b3;
}

#epreuves {
  background-color: #f7f7f7;
  padding: 60px 0;
  border-radius: 10px;
}

#epreuves h2 {
  font-weight: bold;
  color: #003b79;
  margin-bottom: 20px;
}

#epreuves p {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 40px;
}

/* Styles pour la section Épreuves */
#epreuves .card {
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#epreuves .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

#epreuves .card-title {
  font-size: 1.5rem;
  color: #003b79;
  font-weight: bold;
}

#epreuves .card-text {
  font-size: 1rem;
  color: #555;
}

#epreuves .btn {
  background-color: #003b79;
  border: none;
}

#epreuves .btn:hover {
  background-color: #0056b3;
}

.list-group-item {
  background-color: #ffffff;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}

.list-group-item:hover {
  background-color: #f1f1f1;
}

.text-decoration-none {
  color: #003b79;
}

.text-decoration-none:hover {
  color: #007bff;
}
/* Styles personnalisés pour la section E4 */

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 12px;
  }
}
/* Pour les écrans de moins de 1200px de large */
@media (max-width: 1200px) {
  html,
  body {
    overflow-x: hidden; /* Désactive le défilement horizontal */
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  main {
    max-width: 100%;
    margin: 0 auto;
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
  }

  img,
  video {
    max-width: 100%;
    height: auto;
  }
}
@media (max-width: 1200px) {
  #sidebar {
    width: 40%;
    transform: translateX(-100%); /* Par défaut cachée sur mobile */
  }

  #sidebarToggle {
    display: flex; /* Affiche le bouton pour les petits écrans */
  }

  main {
    margin-left: 0; /* Enlevez la marge à gauche quand la sidebar est cachée */
  }
}
/* For small screens, we can add responsiveness */
@media (max-width: 768px) {
  .timeline-item {
    padding-left: 20px;
  }

  .timeline-item:before {
    left: -5px;
  }
}
/* Fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Zoom-in animation */
@keyframes zoomIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

/* Slide-in from left */
@keyframes slideInLeft {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Slide-in from right */
@keyframes slideInRight {
  from {
    transform: translateX(100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Fade-in class */
.fade-in {
  opacity: 0;
  animation: fadeIn 1s forwards;
}

/* Zoom-in class */
.zoom-in {
  opacity: 0;
  animation: zoomIn 1s forwards;
}

/* Slide-in-left class */
.slide-in-left {
  opacity: 0;
  animation: slideInLeft 1s forwards;
}

/* Slide-in-right class */
.slide-in-right {
  opacity: 0;
  animation: slideInRight 1s forwards;
}

/* Delay options */
.delay-1s {
  animation-delay: 1s;
}

.delay-2s {
  animation-delay: 2s;
}

.delay-3s {
  animation-delay: 3s;
}
