/* Style général du body */
body {
  background-color: #f7f7f7;
  font-family: "Arial", sans-serif;
}

/* Header Title Section */
#epreuve h2 {
  color: #003b79;
  font-weight: bold;
}

/* Button Back */
.btn-back {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
  border-radius: 30px;
  padding: 8px 16px;
  transition: background-color 0.3s ease;
}
.btn-back:hover {
  background-color: #0056b3;
}

/* Main Section */
.lead {
  color: #555;
  font-size: 1.1rem;
}

.list-group-item a {
  color: #003b79;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;
}
.list-group-item a:hover {
  color: #0056b3;
  text-decoration: underline;
}

/* Card Styling */
.card {
  border-radius: 10px;
  border: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.card-title {
  color: #003b79;
}

.card-animated {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  will-change: transform;
}

.card-animated:hover {
  transform: translateY(-10px); /* Légère élévation de la carte */
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); /* Ombre plus prononcée au survol */
}

.animated-card {
  border-radius: 10px;
  border: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: white; /* Fond de la carte */
}

.animated-card:hover {
  transform: translateY(-10px) scale(1.05); /* Déplacement vertical et léger agrandissement */
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); /* Ombre plus forte au survol */
}

/* Footer Section */
footer {
  background-color: #003b79;
  color: white;
  padding: 20px 0;
  text-align: center;
  margin-top: 50px;
}

footer p {
  margin: 0;
}

/* Button Custom */
.btn-custom {
  display: inline-block;
  padding: 10px 20px;
  background-color: #6ea7e7;
  color: white;
  text-decoration: none;
  border-radius: 25px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-weight: bold;
  width: 100%;
  max-width: 340px;
  margin: 0 auto;
}

.btn-custom:hover {
  background-color: #597ea5;
  color: white;
  transform: scale(1.05);
  text-decoration: none;
}

.list-group-item {
  border: none;
  background: transparent;
  padding: 0;
}

.list-group-item:not(:last-child) {
  margin-bottom: 10px;
}

/* Responsiveness */
@media (max-width: 768px) {
  h3,
  h4 {
    font-size: 1.25rem;
  }
  .lead {
    font-size: 1rem;
  }
}
